
name: Multi-Stage Docker Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:    # Allow manual runs from the Actions tab
  schedule:
    # Daily at 11:00 IST => 05:30 UTC
    - cron: "30 5 * * *"

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t HCJ:latest .
          docker save HCJ:latest > image.tar
      - name: Upload image artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: image.tar

  Test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: docker load < image.tar

      - name: Test Docker image
        run: |
          docker run -d -p 8080:80 HCJ:latest
          sleep 5
          curl http://localhost:8080/
  Push:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Download image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image

      - name: Load Docker image
        run: docker load < image.tar

      - name: Tag and Push Docker image
        run: |
          docker tag HCJ:latest golisivaprasad/HCJ:latest
          docker push golisivaprasad/HCJ:latest
